<template>
  <div id="home" ref="home">
    <div class="sticky-nav">
      <vs-row
        vs-type="flex"
        vs-justify="center"
        vs-w="12">
        <vs-col
          vs-type="flex"
          vs-justify="center"
          vs-align="center"
          vs-w="10">
          <EmotionsFilter @update="applyFilter" />
        </vs-col>
      </vs-row>
    </div>

    <vs-pagination
      ref="pagination1"
      v-model="currentPage"
      :max="maxPaginationButtons"
      color="#9A4FE4"
      class="pagination"
      :total="totalPages"
      @change="changePage" />

    <Gallery :images="imageList" />

    <vs-pagination
      ref="pagination1"
      v-model="currentPage"
      :max="maxPaginationButtons"
      color="#9A4FE4"
      class="pagination"
      :total="totalPages"
      @change="changePage" />
  </div>
</template>

<script>
import Gallery from '../components/Gallery'
import EmotionsFilter from '../components/EmotionsFilter'

import api from '../api'

export default {
  name: 'Home',
  components: { Gallery, EmotionsFilter },

  data () {
    return {
      loading: true,
      filterEmotions: [],
      maxPaginationButtons: 9,
      currentPage: 1,
      limit: 9,
      totalPages: 0,
      imageList: []
    }
  },

  computed: {
  },

  watch: {
    '$store.state.display' (display) {
      if (display === 'lg' || display === 'sm') this.maxPaginationButtons = 9
      else this.maxPaginationButtons = 5

      // this.$refs['pagination1'].getPages()
      // this.$refs['pagination2'].getPages()
    },

    loading (value) {
      if (value) {
        this.$vs.loading({
          color: '#9A4FE4',
          scale: 1.3
        })
      } else {
        this.$vs.loading.close()
      }
    }
  },

  async mounted () {
    this.$vs.loading({
      color: '#9A4FE4',
      scale: 1.3
    })

    const display = this.$store.state.display

    if (display === 'lg' || display === 'sm') this.maxPaginationButtons = 9
    else this.maxPaginationButtons = 5

    await this.fetchData(this.filterEmotions, this.page, this.limit)
  },

  methods: {
    async fetchData (emotions, page, limit) {
      this.loading = true

      const data = await api.getList({
        emotions,
        page,
        limit
      })

      this.imageList = data.docs

      this.totalPages = Math.ceil(data.total / data.limit)

      this.loading = false
    },

    async applyFilter (emotions) {
      this.page = 1
      this.filterEmotions = emotions
      await this.fetchData(emotions, this.page, this.limit)
    },

    async changePage (page) {
      await this.fetchData(this.filterEmotions, page, this.limit)
      this.page = page
    }
  }
}
</script>

<style>
.sticky-nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  background: #fff;
}

.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vs-pagination--ul, .vs-pagination--buttons  {
  background: #fff !important;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}

</style>
