<template>
  <div class="filter-container">
    <h1 class="filter-header">
      Emotions filter
    </h1>
    <div class="buttons">
      <vs-button
        v-for="(emotion, i) in emotions"
        :key="i"
        :size="buttonsSize"
        class="button"
        :color="emotion.selected ? '#9A4FE4' : 'rgba(153, 79, 228, 0.548)'"
        :type="emotion.selected ? 'filled' : 'border' "
        @click="toggleEmotion(i)">
        {{ emotion.text }}
      </vs-button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'EmotionsFilter',

  data () {
    return {
      emotions: [
        {
          selected: false,
          value: 'anger',
          text: 'Anger'
        },
        {
          selected: false,
          value: 'disgust',
          text: 'Disgust'
        },
        {
          selected: false,
          value: 'fear',
          text: 'Fear'
        },
        {
          selected: false,
          value: 'happiness',
          text: 'Happiness'
        },
        {
          selected: false,
          value: 'neutral',
          text: 'Neutral'
        },
        {
          selected: false,
          value: 'sadness',
          text: 'Sadness'
        },
        {
          selected: false,
          value: 'surprise',
          text: 'Surprise'
        }
      ]
    }
  },

  computed: {
    buttonsSize () {
      if (this.$store.state.display === 'lg') return 'large'

      return null
    }

  },

  watch: {
    emotions: {
      handler (emotions) {
        this.$emit('update', emotions.filter(e => e.selected).map(e => e.value))
      },
      deep: true
    }
  },

  methods: {
    toggleEmotion (i) {
      this.emotions[i].selected = !this.emotions[i].selected
    }
  }
}
</script>

<style scoped>
.filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-header {
  color: #9A4FE4;
}

.button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
