<template>
  <vs-row
    class="gallery-container"
    vs-w="10">
    <vs-col
      v-for="(image, i) in images"
      :key="i"
      vs-lg="4"
      vs-type="flex"
      vs-justify="center"
      vs-align="center"
      vs-sm="6"
      vs-xs="12">
      <ImageCard :image="image" />
    </vs-col>
  </vs-row>
</template>

<script>
import ImageCard from '../components/ImageCard'

export default {
  name: 'Gallery',

  components: { ImageCard },

  props: {
    images: {
      default: () => ([]),
      type: Array
    }
  },

  data () {
    return {}
  }
}
</script>

<style scoped>
.cardx {
  margin: 25px;
}

.gallery-container {
  margin: auto;
}
</style>
