<template>
  <vs-card class="card-container">
    <div slot="header" class="card-header">
      <!-- <vs-icon icon="camera" /> -->
      <!-- <span class="image-by">
        by {{ image.owner }}
      </span> -->
      <span class="image-title">
        {{ image.title }}
      </span>
    </div>

    <div slot="media">
      <img :src="image.url" class="image">
    </div>

    <h4 v-if="!image.emotions.length">
      No emotions detected =(
    </h4>

    <div class="hash-tag-list">
      <vs-chip
        v-for="(e, i) in image.emotions"
        :key="i"
        class="hash-tag">
        {{ e }}
      </vs-chip>
    </div>

    <div slot="footer" />
  </vs-card>
</template>

<script>
const IMAGE_PLACEHOLDER = 'https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png'

export default {
  name: 'ImageCard',

  props: {
    image: {
      type: Object,
      validator (img) {
        if (!img.emotions) {
          img.emotions = []
        }

        if (!img.url) {
          img.url = 'https://carepharmaceuticals.com.au/wp-content/uploads/sites/19/2018/02/placeholder-600x400.png'
        }

        return img
      },
      default: () => ({
        emotions: [],
        url: IMAGE_PLACEHOLDER
      })
    }
  },

  data () {
    return { }
  }
}
</script>

<style scoped>
.card-container {
  margin: 25px;
  transition: 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-header header {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.hash-tag-list {
  /* margin-bottom: 20px; */
}

.hash-tag {
  margin: 5px;
  margin-top: 0px;

  background: transparent;
  border: 1px solid rgba(153, 79, 228, 0.548);

  color: rgba(153, 79, 228, 0.548) !important;

  transition: 0.5s ease;
  cursor: pointer;
}

.hash-tag:hover {
  color: #fff !important;
  background: #9A4FE4 !important;
}

.image-title {
  color: rgb(117, 114, 114);
  font-size: 14px;
}

h4 {
  color: #9A4FE4;
}
</style>
