<template>
  <vs-input
    v-model="query"
    class="input"
    size="large"
    icon="search"
    placeholder="Search"
    @input="search" />
</template>

<script>
export default {
  name: 'Search',

  props: {
    requestDuration: {
      type: Number,
      default: 400
    }
  },

  data () {
    return {
      query: '',
      timeout: null
    }
  },

  methods: {
    search (query) {
      if (this.timeout) return
      console.log(query)

      // sends request for images
      const results = []
      this.$emit('search-result', results)

      this.timeout = setTimeout(() => {
        this.timeout = null
      }, this.requestDuration)
    }
  }
}
</script>

<style scoped>
.input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vs-con-input-label {
  width: 100% !important;
}
</style>
