<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  created () {
    window.addEventListener('resize', this.resizeHandler)

    this.$store.dispatch('windowResize')
  },

  methods: {
    resizeHandler () {
      this.$store.dispatch('windowResize')
    }
  }
}
</script>

<style>
html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: auto;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
}
</style>
